.olaf{
    font-family: 'Italianno', cursive;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
}

.hairdesign{
    font-family: 'Jaldi', sans-serif;
    margin: 0;
    text-align: center;
    color: white;
}

.box1{
    display: none;
    background-color: #ECECEC;
    width: 450px;
    height: 400px;
    margin: auto;
    border-radius: 25px;
}

.box2{
    background-color: #2E8B57;
    width: auto;
    padding: 15px;
    border-radius: 25px;
}

.box3{
    background-color: #ECECEC;
    width: 450px;
    height: 400px;
    margin: auto;
    border-radius: 25px;
}

.gebruiker .wachtwoord{
    width: 170px;
    padding: 0px;
    margin: auto;
    height: auto;
    

}

.open-button{
    background-color: #2E8B57;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 150px;
    border-radius: 25px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

.open-button:hover{background-color: #151414;}

.login, .perinfo{
    text-align: center;
    padding: auto;
}

.login h1, .perinfo h1{
    font-size: small;
    padding: 5%;
}

.gebruiker, .naam{
    text-align: center;
}

.wachtwoord, .telefoonnummer{
    text-align: center;

}
.inloggen, .volgende{
    margin-left: 43%;
    margin-top: 30px;
    cursor: pointer;
  
}

select{
    width: 38%;
    margin-left: 31%;
    text-align: center;
}


/*responsive*/

@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right, .box1, .box3 {
     width: 100%;

    }
  }
